<div class="container my-5">

<form action="" method="post">
    {% csrf_token %}
<div class="tab-pane fade my-5" id="password" role="tabpanel">
                    <div class="card my-5">
                        <div class="card-body  my-5">
                            <h5 class="card-title">Password</h5>
                            <form>
                                <div class="form-group my-5">
                                    <label for="inputPasswordCurrent">Current password</label>
                            {{form.old_password}}

                                    <small><a href="#">Forgot your password?</a></small>
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew">New password</label>
                                        {{form.new_password1}}
                                        </div>
                                <div class="form-group">
                                    <l

abel for="inputPasswordNew2">Verify password</label>
                                        {{form.new_password2}}

                                </div>

                                {% if form.errors %}
                                    {{form.errors}}
                                    {% for i  in form.errors %}
                                        {{i}} 
                                    {% endfor %}    

                                {% endif %}

                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>

                        </div>
                    </div>
                </div>


</form>
